<label>Server Name</label>
<!--<input type="text" class="form-control" 
       (input)="onUpdateServerName($event)"/> -->

<input type="text" class="form-control" 
       [(ngModel)]="serverName"/>

<button class="btn btn-sm btn-primary mt-2 mb-2" 
        [disabled]="!allowAddNewServer"
        (click)="onCreateServer()">Add Server</button>

<!--<p>Interpolation -- {{ allowAddNewServer }}</p>
<p [innerText]="allowAddNewServer"></p>-->
<p *ngIf="isServerCreated">{{ serverCreationStatus }}</p>
<app-server *ngFor="let server of servers"></app-server>